
:root {
    --bg-color-light: #fff;
    --bg-color-dark: #000;
    --box-color: rgba(0,0,0,0.05);
    --color1-light: #ccc;
    --color2-light: #999;
    --color3-light: #000;
    --color1-dark: #666;
    --color2-dark: #999;
    --color3-dark: #fff;
  }


body.theme-light {
    background-color: white;
    color: black;
    background-color: var(--bg-color-light);
    color:var(--color3-light);
    .post_title {
        color: var(--color3-light);
    }
    .post_data {
        color: var(--color1-light);
    }
    .post_exerpt {
        color: var(--color2-light);
    }
  }
body.theme-dark {
background-color: black;
color: white ;
    .post_title {
        color: var(--color3-dark);
    }
    .post_data {
        color: var(--color1-dark);
    }
    .post_exerpt {
        color: var(--color2-dark);
    }
}

body {
    font-family: 'SUIT Variable', sans-serif;
    max-width: 900px !important;
}

a {
    text-decoration: none;
    color: #222;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}
h1,h2,h3,h4,h5 {
    
    letter-spacing: -0.07rem;
}

