
:root {
    --bg-color-light: #fff;
    --bg-color-dark: #000;
    --box-color: rgba(0,0,0,0.05);
    --color1-light: #ccc;
    --color2-light: #999;
    --color3-light: #000;
    --color1-dark: #666;
    --color2-dark: #999;
    --color3-dark: #fff;
    --color-hyperlink-light: #007bff;
    --color-hyperlink-dark: #0a4788;
  }


body.theme-light {
    background-color: white;
    color: black;
    background-color: var(--bg-color-light);
    color:var(--color3-light);
    .post_title {
        color: var(--color3-light);
    }
    .post_data {
        color: var(--color1-light);
    }
    .post_excerpt {
        color: var(--color2-light);
    }
     // light tag style
     .tag-name {
        color: var(--color3-light);
        background-color: var(--box-color);
    &:hover {
            background-color: var(--color-hyperlink-light);
            color: var(--color3-light);
        }
    }
    .tag-count {
        font-size: 0.8rem;
        color: var(--color2-light);
        margin-left: 0.5rem;
    }
  }
body.theme-dark {
background-color: black;
color: white ;
    .post_title {
        color: var(--color3-dark);
    }
    .post_data {
        color: var(--color1-dark);
    }
    .post_excerpt {
        color: var(--color2-dark);
    }
    // dark tag style
    .tag-name {
        color: var(--color3-dark);
        background-color: rgba(255,255,255,0.05);
    &:hover {
            background-color: var(--color-hyperlink-dark);
            color: var(--color3-dark);
        }
    }
    .tag-count {
        font-size: 0.8rem;
        color: var(--color2-dark);
        margin-left: 0.5rem;
    }
}
a{
    text-decoration: none;
    color: var(--color3-dark);
    &:hover{
        color: var(--color-hyperlink-dark);
    }
}

body {
    font-family: 'SUIT Variable', sans-serif;
    max-width: 900px !important;
}


h1,h2,h3,h4,h5,p {
    margin: 0;
}
h1,h2,h3,h4,h5 {
    
    letter-spacing: -0.07rem;
}



// tag style
.tag-name {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    transition: all 0.3s;
   
}
.tag-count {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.post_title {
font-size: 1.5rem;
}
.post_data {
    font-size: 0.8rem;
}
.post_excerpt {
   font-size: 1rem;
}

