---
layout: default
---
<div class="py-4">
    <h1 class="py-2 fs-1 post_title">{{page.title}}</h1>
    <p class="post_data">{{page.date | date: "%B %d, %Y"}}</p>
</div>
<div class="content pb-5">
    {{ content }}
</div>

<div class=" py-2">
    {% if page.next.url %}
        <a class="d-block " href="{{ page.next.url | prepend: site.baseurl }}" class="">&uarr;다음글{{page.next.title}}</a>
    {% endif %}
    <p class="d-block p-2 text-secondary">  현재글 : {{page.title}}</p>
    {% if page.previous.url %}
        <a class="d-block " href="{{ page.previous.url | prepend: site.baseurl }}" class="">&darr;이전글{{page.previous.title}}</a>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let theme = localStorage.getItem('theme');
        if(!theme) {
            theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        };
        console.log('post.theme', theme);
        const script = document.createElement('script');
        script.src = "https://utteranc.es/client.js";
        script.setAttribute("repo", "yes-eul-jeong/blog");
        script.setAttribute("issue-term", "pathname");
        script.setAttribute('theme', `github-${theme}`);
        script.setAttribute('crossorigin', 'anonymous');
        script.async = true;
        document.body.appendChild(script);
    });

</script>
